* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html,
body,
#root {
    background-image: radial-gradient(
        circle at 49.21% 50.07%,
        #feffff 0,
        #f4fffd 25%,
        #e6e6e6 50%,
        #d7cdd1 75%,
        #cbbbc1 100%
    );
    height: 100%;
}
